@-moz-document domain("imastodon.net")
  {
/* 全体の背景色 */
.ui{
    -webkit-background-size: 128px 128px;
    -moz-background-size: 128px 128px;
    background-size: 128px 128px;
    background-color: #dcece4;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, #02a0c2), color-stop(.5, transparent), to(transparent));
    background-image: -moz-linear-gradient(left, #02a0c2 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(left, #02a0c2 50%, transparent 50%, transparent);
    background-image: linear-gradient(left, #02a0c2 50%, transparent 50%, transparent);
}
.drawer__inner{
    opacity: 0.9;
    color: #dcece4 !important;
}

/* ヘッダーの背景色と文字色 */
.column-header,
.column-header *,
.getting-started__wrapper,
.getting-started__wrapper *,
.column-icon,
.tabs-bar,
.drawer__header,
.drawer__header *,
.column-back-button,
.search-results__header,
.favourite-tags *,
.trend-tags__header,
.column-header__collapsible-inner{
    background-color: #3e0d1d;
    color: #ffffff;
}

/* ボタンの背景色 */
.status__content a,
.status__content a>span,
span.ellipsis,
.active,
.search__icon *{
    color: #067193 !important;
}
.compose-form__buttons .active{
    background-color: #282c37;
}
.button{
    background-color: #9b0016;
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.button:hover{
    background-color: #b11a33;
    opacity: 0.8;
}

/* スタートの背景色と文字色 */
.column-subheading,
.getting-started__footer{
    background-color: #a2051f !important;
    color: #ffffff !important;
}
.column-link,
.static-content.getting-started,
.static-content.getting-started p,
.static-content.getting-started p a,
.static-content.getting-started p span,
.static-content.getting-started p span a{
    background-color: #b92e4e !important;
    color: #ffffff !important;
    border-bottom: #ffffff !important;
}

/* トゥートの背景色と文字色 */
.scrollable,
.drawer__inner.darker,
.search-results__section *,
.tabs-bar__link :hover,
.drawer__header>a:hover,
.drawer__header>a:hover *,
.empty-column-indicator,
.suggestion-tags__body>ul>li,
.suggestion-tags__body>ul>li *{
    background-color: #eff6f6 !important;
    color: #2f0016 !important;
}
.scrollable *:not(.fa){
    background-color: #eff6f6;
    color: #2f0016;
}

/* 未収載トゥートの色分け */
.status-unlisted{
    background: #ffd7df;
}

/* 角を丸くする */
.drawer__header,
.drawer__tab,
.drawer__inner,
.favourite-tags,
.column-header__wrapper,
.column-header,
.column-header__button,
.column-header__buttons{
    border-radius: 10px;    /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;    /* Firefox用 */
}
.favourite-tags .compose__extra__header{
    border-radius: 10px 10px 0 0;   /* CSS3草案 */  
    -webkit-border-radius: 10px 10px 0 0;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px 10px 0 0;    /* Firefox用 */
}
.favourite-tags__body,
.favourite-tags__body li{
    border-radius: 0 0 10px 10px;    /* CSS3草案 */  
    -webkit-border-radius: 0 0 10px 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 0 0 10px 10px;    /* Firefox用 */
}
.scrollable{
    border-radius: 10px;    /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;    /* Firefox用 */
}

/* スクロールバーの設定 */
::-webkit-scrollbar,
::-webkit-scrollbar-track-piece{
    background: #dcece4;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
::-webkit-scrollbar:hover,
::-webkit-scrollbar-track-piece:hover{
    background: #fff28a;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover{
    background: #d77826;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track{
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
}
