@-moz-document domain("imastodon.net")
  {
/* 背景色と文字色の設定 */
/* 全体 */
.ui{
    -webkit-background-size: 128px 128px;
    -moz-background-size: 128px 128px;
    background-size: 128px 128px;
    background-color: #dcece4;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, #02a0c2), color-stop(.5, transparent), to(transparent));
    background-image: -moz-linear-gradient(left, #02a0c2 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(left, #02a0c2 50%, transparent 50%, transparent);
    background-image: linear-gradient(left, #02a0c2 50%, transparent 50%, transparent);
}
.drawer__inner{
    opacity: 0.9;
    color: #dcece4 !important;
}
/* ヘッダー */
.column-header,
.column-header *,
.getting-started__wrapper,
.getting-started__wrapper *,
.column-icon,
.tabs-bar,
.drawer__header,
.drawer__header *,
.column-back-button,
.search-results__header,
.favourite-tags *,
.trend-tags__header,
.column-header__collapsible-inner{
    background-color: #3e0d1d;
    color: #ffffff;
}
/* スタートカラム */
.column-subheading,
.getting-started__footer{
    background-color: #a2051f !important;
    color: #ffffff !important;
}
.column-link{
    background-color: #b92e4e !important;
    color: #ffffff !important;
}
.static-content.getting-started,
.static-content.getting-started p,
.static-content.getting-started p a,
.static-content.getting-started p span,
.static-content.getting-started p span a{
    background-color: #ff9790 !important;
    color: #3e0d1d !important;
}
/* トゥートカラム */
.scrollable,
.drawer__inner.darker,
.search-results__section *,
.tabs-bar__link :hover,
.drawer__header>a:hover,
.drawer__header>a:hover *,
.empty-column-indicator,
.suggestion-tags__body>ul>li,
.suggestion-tags__body>ul>li *{
    background-color: #eff6f6 !important;
    color: #2f0016 !important;
}
.scrollable *:not(.fa){
    background-color: #eff6f6;
    color: #2f0016;
}
/* ボタン */
.status__content a,
.status__content a>span,
span.ellipsis,
.active,
.search__icon *{
    color: #067193 !important;
}
.compose-form__buttons .active{
    background-color: #282c37;
}
.button{
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: -webkit-linear-gradient(#1a83ad 0%, #13d6d7 100%);
    background-image: linear-gradient(#1a83ad 0%, #13d6d7 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #0d7888;
}
.button:hover{
    color: #2a1b0a;
    background-image: -webkit-linear-gradient(#ffcb75 0%, #fff08f 100%);
    background-image: linear-gradient(#ffcb75 0%, #fff08f 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #eba048;
}
.button:active{
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

/* 未収載トゥートの色分け */
.status-unlisted{
    background: #ffd7df;
}

/* 角を丸くする */
/* 全体 */
.column .scrollable,
.drawer__inner{
    border-radius: 4px;    /* CSS3草案 */  
    -webkit-border-radius: 4px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 4px;    /* Firefox用 */
}
/* ヘッダーとボタン */
.drawer__header,
.drawer__tab,
.column-header__wrapper,
.column-header,
.column-header__button,
.column-header__buttons,
.column-header__collapsible,
.column-back-button{
    border-radius: 8px;    /* CSS3草案 */  
    -webkit-border-radius: 8px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 8px;    /* Firefox用 */
}
/* トゥートカラム */
.compose__extra,
.compose__extra__header{
    border-radius: 0 4px 4px 0;   /* CSS3草案 */  
    -webkit-border-radius: 0 4px 4px 0;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 0 4px 4px 0;    /* Firefox用 */
}
.compose__extra__header{
    border-radius: 0 4px 0 0;   /* CSS3草案 */  
    -webkit-border-radius: 0 4px 0 0;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 0 4px 0 0;    /* Firefox用 */
}
.compose__extra__body,
.compose__extra__body li{
    border-radius: 0 0 4px 0;   /* CSS3草案 */  
    -webkit-border-radius: 0 0 4px 0;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 0 0 4px 0;    /* Firefox用 */
}
/* スタートカラム */
.getting-started__wrapper{
    border-radius: 4px;    /* CSS3草案 */  
    -webkit-border-radius: 4px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 4px;    /* Firefox用 */
}
.getting-started__footer.scrollable.optionally-scrollable{
    border-radius: 4px 0 0 4px;    /* CSS3草案 */  
    -webkit-border-radius: 4px 0 0 4px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 4px 0 0 4px;    /* Firefox用 */
}

/* スクロールバーの設定 */
/* 全体 */
::-webkit-scrollbar,
::-webkit-scrollbar-track-piece{
    background: #dcece4;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
::-webkit-scrollbar:hover,
::-webkit-scrollbar-track-piece:hover{
    background: #fff28a;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover{
    background: #c49be4;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track{
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
/* ヘッダー */
.column-header__collapsible::-webkit-scrollbar,
.column-header__collapsible::-webkit-scrollbar-track-piece{
    background: #ffffff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
.column-header__collapsible::-webkit-scrollbar:hover,
.column-header__collapsible::-webkit-scrollbar-track-piece:hover{
    background: #ffffff;
}
.column-header__collapsible::-webkit-scrollbar-thumb,
.column-header__collapsible::-webkit-scrollbar-thumb:hover{
    background: #3e0d1d;
}
.column-header__collapsible::-webkit-scrollbar-thumb,
.column-header__collapsible::-webkit-scrollbar-track{
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
/* スタートカラム */
.scrollable.optionally-scrollable::-webkit-scrollbar,
.scrollable.optionally-scrollable::-webkit-scrollbar-track-piece{
    background: #ff9790;
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
}
.scrollable.optionally-scrollable::-webkit-scrollbar:hover,
.scrollable.optionally-scrollable::-webkit-scrollbar-track-piece:hover{
    background: #ff9790;
}
.scrollable.optionally-scrollable::-webkit-scrollbar-thumb,
.scrollable.optionally-scrollable::-webkit-scrollbar-thumb:hover{
    background: #b92e4e;
}
/* トゥートカラム */
.drawer__pager .drawer__inner{    /* スクロールバーを常時表示したくない場合はこの行全体を削除またはコメントアウトしてください */
    overflow-y: scroll;    /* スクロールバーを常時表示したくない場合はこの行全体を削除またはコメントアウトしてください */
}    /* スクロールバーを常時表示したくない場合はこの行全体を削除またはコメントアウトしてください */
.drawer__pager .drawer__inner::-webkit-scrollbar,
.drawer__pager .drawer__inner::-webkit-scrollbar-track-piece{
    background: #444b5d;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
.drawer__pager .drawer__inner::-webkit-scrollbar:hover,
.drawer__pager .drawer__inner::-webkit-scrollbar-track-piece:hover{
    background: #444b5d;
}
.drawer__pager .drawer__inner::-webkit-scrollbar-thumb,
.drawer__pager .drawer__inner::-webkit-scrollbar-thumb:hover{
    background: #313543;
}
}
